<div class="row">
  <div class="col-8">
    <b>-</b> &nbsp;
    @if (item.done == false) {
      <span>
        <span class="custom-a" (click)="updateTodoItem(item.id)" [innerHTML]="item.name"></span>
      </span>
    }
    @if (item.done == true) {
      <span>
        <span class="custom-done" (click)="updateTodoItem(item.id)"><s [innerHTML]="item.name"></s></span>
      </span>
    }
  </div>
  <div class="col-2">
    @if (item.done == false) {
      <small>open</small>
    }
    @if (item.done == true) {
      <small>done</small>
    }
  </div>
  <div class="col-2">
    <a (click)="deleteItem(item.id)" title="delete">@if (item.done == true) {
      <fa-icon [icon]="faTrash"></fa-icon>
    }</a>
  </div>
</div>
