<div class="card">
  <div class="card-header">
    TODOs
  </div>
  <div class="card-body">
    @for (t of todos; track t) {
      <div>
        <div class="row">
          <div class="col-6 mt-1 mb-2">
            @if (t.done == false) {
              <span>
                <a [routerLink]='["/todos/", t.id]'>{{t.title}}</a>
              </span>
            }
            @if (t.done == true) {
              <span>
                <s>{{t.id}}</s>: <s>{{t.title}}</s>
              </span>
            }
          </div>
          <div class="col-3">
            <!-- <a (click)="updateTodo(t.id)"><i class="pi pi-check"></i></a> -->
          </div>
          <div class="col-3">
            @if (t.done == true) {
              <span>
                <a (click)="deleteTodo(t.id)"><fa-icon [icon]="faTrash"></fa-icon></a>
              </span>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>


<div class="card mt-3 mb-3">
  <div class="card-header">
    <i class="fa fa-fw fa-wrench"></i> new Todo
  </div>
  <div class="card-body">
    <app-add-todo></app-add-todo>
  </div>
</div>
