<div class="row">
  <div class="col-8">
    <b>-</b> &nbsp;
    @if (item.done == false) {
      <span>
        <span name="item" class="custom-a" (click)="openItem(item.id)">{{item.name}}</span>
      </span>
    }
    @if (item.done == true) {
      <span>
        <span name="item" class="custom-done" (click)="updateTodoItem(item.id)"><s [innerHTML]="item.name"></s></span>
      </span>
    }
    @if (displayItem && display_item_id == item.id) {
      <div class="mb-2 ml-4" id="{{item.name}}">
        @if (item.done == false) {
          <span class="">
            <small><a class="text-danger" (click)='updateTodoItem(item.id)'>done</a></small>
          </span>
        }
        @if (item.done == true) {
          <span class="ml-2">
            <small><a (click)='updateTodoItem(item.id)'>undo</a></small>
          </span>
        }
        <app-description [item]="item" [todo_id]="todo_id" [item_id]="item.id"></app-description>
        <app-add-item-due-date [todo_id]="todo_id" [item]="item"></app-add-item-due-date>
      </div>
    }
  </div>
  <div class="col-2">
    @if (item.done == false) {
      <small>open</small>
    }
    @if (item.done == true) {
      <small>done</small>
    }
  </div>
  <div class="col-2">
    <a (click)="deleteItem(item.id)" title="delete">@if (item.done == true) {
      <fa-icon [icon]="faTrash"></fa-icon>
    }</a>
  </div>
</div>
